# Python Basics

In [1]:
print("Hello, World!")

Hello, World!

## Variables

### Creating Variables

In [2]:
my_var='James'

In [3]:
print('Hello,',my_var)

Hello, James

In [5]:
my_var = 4       
print(my_var,type(my_var))
my_var = "James"
print(my_var,type(my_var))

4 <class 'int'>
James <class 'str'>

### Type Casting

In [15]:
x = "3"
print(x,type(x))
y = int(x)
print(y,type(y))
z = float(x)
print(z,type(z))
x= str(z)
print(x,type(x))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>
3.0 <class 'str'>

### Assigning Multiple Variable

In [6]:
x, y, z = 1, '2', 3.4
print(x)
print(y)
print(z)

1
2
3.4

In [7]:
x, y, z = [1, '2', 3.4]
print(x)
print(y)
print(z)

1
2
3.4

In [8]:
x=y=z = [1, '2', 3.4]
print(x)
print(y)
print(z)

[1, '2', 3.4]
[1, '2', 3.4]
[1, '2', 3.4]

### Data Types

In [9]:
x = "Hello World"
print(x,type(x))
x = 20
print(x,type(x))
x = 20.5
print(x,type(x))
x = 1j
print(x,type(x))
x = ["apple", "banana", "cherry"]
print(x,type(x))
x = ("apple", "banana", "cherry")
print(x,type(x))
x = range(6)
print(x,type(x))
x = {'name':"John", 'age':36}
print(x,type(x))
x = {"apple", "banana", "cherry"}
print(x,type(x))
x = True
print(x,type(x))

Hello World <class 'str'>
20 <class 'int'>
20.5 <class 'float'>
1j <class 'complex'>
['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
range(0, 6) <class 'range'>
{'name': 'John', 'age': 36} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>
True <class 'bool'>

## String

In [10]:
txt = "Hello, World!"
print(txt)

Hello, World!

In [11]:
print(len(txt))

13

In [12]:
print(txt[0])

H

In [13]:
print(txt[0:5])

Hello

In [14]:
print(txt[:5])

Hello

In [15]:
print(txt[7:12])

World

In [18]:
print(txt[7:])

World!

In [19]:
print(txt.lower())

hello, world!

In [20]:
txt=txt.upper()
print(txt)

HELLO, WORLD!

In [21]:
txt=txt.title()
print(txt)

Hello, World!

In [22]:
print(txt.replace('H','J'))

Jello, World!

In [23]:
print(txt.split(','))

['Hello', ' World!']

In [26]:
x,y=txt.split(',')
print(x)
print(y)
y=y.strip()
print(y)

Hello
 World!
World!

In [27]:
print(x+y)

HelloWorld!

In [28]:
print(f"{x}, {y}")

Hello, World!

In [44]:
txt="""
Hello
World
"""
print(txt)

Hello
World

In [45]:
for i in txt:
    print(i)

H
e
l
l
o


W
o
r
l
d

## Operators

In [29]:
x=100
y=3

In [30]:
x+y

103

In [31]:
x-y

97

In [32]:
x*y

300

In [33]:
x**y

1000000

In [35]:
x/y

33.333333333333336

In [36]:
x//y

33

In [67]:
x+=y
x

103

In [37]:
x-=y
x

97

In [38]:
x/=y
x

32.333333333333336

In [39]:
x*=y
x

97.0

## List

In [40]:
lt=[5,1,4,2,3]

In [41]:
lt.sort()
lt

[1, 2, 3, 4, 5]

In [42]:
sum(lt)

15

In [43]:
lt[1],lt[-1]

(2, 5)

In [45]:
lt[:2]

[1, 2]

In [46]:
for l in lt:
    print(l)

1
2
3
4
5

## Dictionaries

In [54]:
d={'name':'James','age':26, 'height':173, 'weight':71}

In [55]:
d['age']=20

In [56]:
d['name'], d['age']

('James', 20)

In [57]:
d['first_name']=d['name']
del d['name']
d

{'age': 20, 'height': 173, 'weight': 71, 'first_name': 'James'}

In [59]:
d['last_name']='Arthur'
d

{'age': 20,
 'height': 173,
 'weight': 71,
 'first_name': 'James',
 'last_name': 'Arthur'}

### Conditions, Loops and Functions

In [61]:
if True:
    print("True Block")

True Block

In [62]:
if False:
    print("False Block")
else:
    print("Else Block")

Else Block

In [63]:
if False:
    print("False Block")
elif True:
    print("True Block")
else:
    print("Else Block")

True Block

In [64]:
d

{'age': 20,
 'height': 173,
 'weight': 71,
 'first_name': 'James',
 'last_name': 'Arthur'}

In [67]:
for k,v in d.items():
    if 'name' in k:
        print(f"{k.replace('_',' ').title()}: {v}")

First Name: James
Last Name: Arthur

In [70]:
for i in ['orange','red', 'blue', 23, 2.4]:
    if isinstance(i,int):
        print(i,type(i))

23 <class 'int'>

In [108]:
count=0
while True:
    print(count)
    count+=1
    if count == 6:
        break

0
1
2
3
4
5

In [72]:
count=0
while count < 6:
    print(count)
    count+=1

0
1
2
3
4
5

In [73]:
def print_helloworld():
    print("Hello, World!")

In [74]:
print_helloworld()

Hello, World!

In [75]:
def greet(name):
    print('Greetings',name.title())

In [76]:
greet('James')
greet('arthur')

Greetings James
Greetings Arthur

In [77]:
def add(x,y):
    return x+y

In [79]:
print(add(10,20))
print(add(12,10))

30
22

In [80]:
x = lambda a : a + 10
print(x(5))
print(x(10))

15
20

In [82]:
class person():
    def __init__(self,first_name,last_name,age,gender):
        self.first_name=first_name
        self.last_name=last_name        
        self.age=age
        self.gender=gender
    def says(self,sentence):
        print(f"{self.first_name}: {sentence}")

In [83]:
j=person(first_name='James',last_name='Arthur',age=24,gender='Male')
s=person(first_name='Sofia',last_name='Parker',age=29,gender='Female')

In [139]:
j.says("Hello")
s.says("Hi")
j.says("How are you?")
s.says("Fine")

James: Hello
Sofia: Hi
James: How are you?
Sofia: Fine